{% extends "base.html" %}
{% block body_content %}
  <div class="container">
     <br /><br />
     <div class="row justify-content-center">
       <div class="col-5">
         <div class="row">Number of Users entered in database today = {{ users_today }}</div>
         <div class="row">Number of Users entered in database this week = {{ users_week }}</div>
         <div class="row">Number of Users entered in database this month = {{ users_month }}</div>
         <br />
         <div class="row">Number of Search API calls today = {{ api_calls_today }}</div>
         <div class="row">Number of Search API calls this week = {{ api_calls_week }}</div>
         <div class="row">Number of Search API Calls this month = {{ api_calls_month }}</div>
       </div>
     </div>
  </div>
{% endblock %}
