{% extends "base.html" %}

{% block body_content %}
  <div class="container">
       <form id="searchform" action="{% url 'admin-user-list' %}" method="get">
         <div class="row justify-content-center">
           <div class="col-lg-6">
             <div class="input-group">
               <input type="text" class="form-control" name="q" placeholder="Search for...">
               <span class="input-group-btn">
                 <button class="btn btn-default" type="submit">Go!</button>
               </span>
             </div>
           </div>
         </div>
       </form>
       <br />
       {% for user in object_list %}
         <div class="row justify-content-center">
           <div class="col-2">
             <img src="{{user.avatar_url}}" width="75" height="75"/>
           </div>
           <div class="col-4">
             <div class="row">
               <div class="col-3">
                 <a href="{% url 'admin-user-detail' username=user.username %}">{{ user.username }}</a>
               </div>
               <div class="col-9">
                 {{user.user_profile_name}}
               </div>
             </div>
             <div class="row">
               <div class="col-6">
                 {{ user.location }}
               </div>
             </div>
           </div>
         </div>
         <hr />
       {% endfor %}
       {% if is_paginated %}
         <div class="row justify-content-center">
           <div class="col-2">
             {% if page_obj.has_previous %}
               <a href="{% url 'admin-user-list' %}?page={{page_obj.previous_page_number }}">< Previous</a>
             {% endif %}
           </div>
           <div class="col-1"></div>
           <div class="col-2">
             {% if page_obj.has_next %}
               <a href="{% url 'admin-user-list' %}?page={{page_obj.next_page_number }}">Next ></a>
             {% endif %}
           </div>
         </div>
       {% endif %}
     </div>
  </div>
{% endblock %}
